﻿@page "{id}"
@model DetailsModel

@{
    ViewData["Title"] = "Continent Details";
}

<div class="jumbotron p-3">
    <div class="d-flex align-items-center">
        <h1 class="display-4 flex-grow-1">
            Continent Details
        </h1>
        <a class="btn btn-primary btn-sm" asp-page="./Index">
            Back to List
        </a>
    </div>
</div>

<div class="d-flex">
    <div class="p-2 bg-primary text-white text-right" style="flex:0 0 15%">
        @Html.DisplayNameFor(model => model.Continent.ID)
    </div>
    <div class="p-2 border-top border-right border-bottom border-primary" style="flex:1 0 auto">
        @Html.DisplayFor(model => model.Continent.ID)
    </div>
</div>
<div class="d-flex">
    <div class="p-2 bg-primary text-white text-right" style="flex:0 0 15%">
        @Html.DisplayNameFor(model => model.Continent.Name)
    </div>
    <div class="p-2 border-top border-right border-bottom border-primary" style="flex:1 0 auto">
        @Html.DisplayFor(model => model.Continent.Name)
    </div>
</div>
<div class="d-flex bg-success text-white  mt-3">
    <div class="p-2" style="flex:0 0 10%">
        @Html.DisplayNameFor(model => model.Continent.Countries.FirstOrDefault().ID)
    </div>
    <div class="p-2" style="flex:0 0 10%">
        @Html.DisplayNameFor(model => model.Continent.Countries.FirstOrDefault().ContinentID)
    </div>
    <div class="p-2" style="flex:0 0 20%">
        @Html.DisplayNameFor(model => model.Continent.Countries.FirstOrDefault().Name)
    </div>
    <div class="p-2" style="flex:0 0 15%">
        @Html.DisplayNameFor(model => model.Continent.Countries.FirstOrDefault().Population)
    </div>
    <div class="p-2" style="flex:0 0 20%">
        @Html.DisplayNameFor(model => model.Continent.Countries.FirstOrDefault().UnitedNationsDate)
    </div>
    <div class="p-2" style="flex:0 0 25%">Options</div>
</div>
@foreach (var item in Model.Continent.Countries)
{
    <div class="d-flex border-left border-right border-bottom border-success">
        <div class="p-2" style="flex:0 0 10%">
            @Html.DisplayFor(modelItem => item.ID)
        </div>
        <div class="p-2" style="flex:0 0 10%">
            @Html.DisplayFor(modelItem => item.ContinentID)
        </div>
        <div class="p-2" style="flex:0 0 20%">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="p-2" style="flex:0 0 15%">
            @Html.DisplayFor(modelItem => item.Population)
        </div>
        <div class="p-2" style="flex:0 0 20%">
            @Html.DisplayFor(modelItem => item.UnitedNationsDate)
        </div>
        <div class="p-2 btn-group" style="flex:0 0 25%" role="group">
            <a class="btn btn-primary btn-sm" asp-page="/Countries/Detail" asp-route-id="@item.ID">Details</a>
            <a class="btn btn-primary btn-sm" asp-page="/Countries/Edit" asp-route-id="@item.ID">Edit</a>
            <a class="btn btn-danger btn-sm" asp-page="/Countries/Delete" asp-route-id="@item.ID">Delete</a>
        </div>
    </div>
}
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Continent.ID">Edit</a>
</div>
