﻿@page "{id?}"
@model EditModel

@{
    ViewData["Title"] = "Continent Edit";
}

<div class="jumbotron p-3">
    <div class="d-flex align-items-center">
        <h1 class="display-4 flex-grow-1">Continent Edit</h1>
        <a class="btn btn-primary btn-sm" asp-page="./Index">Back to List</a>
    </div>
</div>

<form method="post">
    <div class="form-group d-flex">
        <label asp-for="Continent.ID" class="p-2 text-right" style="flex: 0 0 15%"></label>
        <div style="flex: 1 0 auto; width:auto">
            <input asp-for="Continent.ID" class="form-control" />
            <span asp-validation-for="Continent.ID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group d-flex">
        <label asp-for="Continent.Name" class="p-2 text-right" style="flex: 0 0 15%"></label>
        <div style="flex: 1 0 auto; width:auto">
            <input asp-for="Continent.Name" class="form-control" />
            <span asp-validation-for="Continent.Name" class="text-danger"></span>
        </div>
    </div>
    <div>
        <input type="submit" value="Save" class="btn btn-primary btn-sm" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
