﻿@page "{id}"
@model DetailsModel

@{
    ViewData["Title"] = "Country Details";
}

<div class="jumbotron p-3">
    <div class="d-flex align-items-center">
        <h1 class="display-4 flex-grow-1">
            Country Details
        </h1>
        <a class="btn btn-primary btn-sm" asp-page="./Index">
            Back to List
        </a>
    </div>
</div>

<div class="d-flex">
    <div class="p-2 bg-primary text-white text-right" style="flex:0 0 15%">
        @Html.DisplayNameFor(model => model.Country.ID)
    </div>
    <div class="p-2 border-top border-right border-bottom border-primary" style="flex:1 0 auto">
        @Html.DisplayFor(model => model.Country.ID)
    </div>
    <div class="p-2 bg-primary text-white text-right" style="flex:0 0 15%">
        @Html.DisplayNameFor(model => model.Country.ContinentID)
    </div>
    <div class="p-2 border-top border-right border-bottom border-primary" style="flex:1 0 auto">
        @Html.DisplayFor(model => model.Country.ContinentID)
    </div>
    <div class="p-2 bg-primary text-white text-right" style="flex:0 0 15%">
        @Html.DisplayNameFor(model => model.Country.Name)
    </div>
    <div class="p-2 border-top border-right border-bottom border-primary" style="flex:1 0 auto">
        @Html.DisplayFor(model => model.Country.Name)
    </div>
    <div class="p-2 bg-primary text-white text-right" style="flex:0 0 15%">
        @Html.DisplayNameFor(model => model.Country.Population)
    </div>
    <div class="p-2 border-top border-right border-bottom border-primary" style="flex:1 0 auto">
        @Html.DisplayFor(model => model.Country.Population)
    </div>
    <div class="p-2 bg-primary text-white text-right" style="flex:0 0 15%">
        @Html.DisplayNameFor(model => model.Country.Area)
    </div>
    <div class="p-2 border-top border-right border-bottom border-primary" style="flex:1 0 auto">
        @Html.DisplayFor(model => model.Country.Area)
    </div>
    <div class="p-2 bg-primary text-white text-right" style="flex:0 0 15%">
        @Html.DisplayNameFor(model => model.Country.UnitedNationsDate)
    </div>
    <div class="p-2 border-top border-right border-bottom border-primary" style="flex:1 0 auto">
        @Html.DisplayFor(model => model.Country.UnitedNationsDate)
    </div>
    <div class="p-2 bg-primary text-white text-right" style="flex:0 0 15%">
        @Html.DisplayNameFor(model => model.Country.Density)
    </div>
    <div class="p-2 border-right border-bottom border-primary" style="flex:1 0 auto">
        @Html.DisplayFor(model => model.Country.Density)
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Country.ID">Edit</a>
</div>
