﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Country List";
}

<div class="jumbotron p-3">
    <div class="d-flex align-items-center">
        <h1 class="display-4 flex-grow-1">Country List</h1>
        <a class="btn btn-primary btn-sm" asp-page="./Edit">Create</a>
    </div>
    <div>
        <form class="form-group">
            <label asp-for="SearchString" class="control-label">Name:</label>
            <input class="p-2" type="text" asp-for="SearchString" />
            <input type="submit" value="Search" class="btn btn-primary btn-sm" />
            <label asp-for="SortField" class="control-label">Sort by:</label>
            <select class="p-2" asp-for="SortField" onchange="this.form.submit();">
                <option value="ID">ID</option>
                <option value="ContinentID">ContinentID</option>
                <option value="Name">Name</option>
            </select>
        </form>
    </div>
</div>

<div class="d-flex bg-success text-white">
    <div class="p-2" style="flex:0 0 10%">
        Cont
    </div>
    <div class="p-2" style="flex:0 0 10%">
        Code
    </div>
    <div class="p-2" style="flex:1 0 auto">
        Name
    </div>
</div>

@foreach (var item in Model.Countries) {
<div class="d-flex border-left border-right border-bottom border-primary">
    <div class="p-2" style="flex:0 0 10%">
        @item.ContinentID
    </div>
    <div class="p-2" style="flex:0 0 10%">
        @item.ID
    </div>
    <div class="p-2" style="flex:1 0 auto">
        @item.Name
    </div>
    <form class="p-2 btn-group" style="flex:0 0 25%" role="group" method="post">
        <label asp-for="SelectedContinent" class="control-label">Continent:</label>
        <select class="p-2" asp-for="SelectedContinent" asp-items="Model.Continents" onchange="this.form.submit();">
            <option value="">All</option>
        </select>
        <a class="btn btn-primary btn-sm" asp-page="./Details" asp-route-id="@item.ID">
            Details
        </a>
        <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@item.ID">
            Edit
        </a>
        <input type="submit" value="Delete" class="btn btn-danger btn-sm"/>
        <input type="hidden" name="ID" value="@item.ID"/>
    </form>
</div>
}